.nsc {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

button.nsc.button {
  border: none;
  outline: none;
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 0.15rem solid #ebebeb;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  transition: all 0.15s ease-in-out;
}
button.nsc.button svg {
  transition: all 0.15s ease-in-out;
}
button.nsc.button[focusable]:focus {
  outline: 1px solid #90ec90;
}
button.nsc.button[circular] {
  border-radius: 1.25rem;
}
button.nsc.button[icon] {
  padding: 0.5rem;
  min-width: 2.325rem;
  font-size: 1.325rem;
}
button.nsc.button[icon][circular] {
  border-radius: 50%;
}
button.nsc.button[compact] {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  margin: 0.25rem;
}
button.nsc.button[compact][icon] {
  padding: 0.125rem;
  min-width: 1.08125rem;
  font-size: 0.99375rem;
}
button.nsc.button[compact][icon][circular] {
  border-radius: 50%;
}
button.nsc.button[hollow] {
  background: none;
}
button.nsc.button[hollow][underline] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
button.nsc.button[fill] {
  width: 100%;
}
button.nsc.button[emphasis=primary] {
  color: white;
  background: #c42331;
  border-color: #c42331;
}
button.nsc.button[emphasis=primary] svg {
  fill: white;
}
button.nsc.button[emphasis=primary][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[emphasis=primary][hollow] {
  background: none;
  color: #c42331;
}
button.nsc.button[emphasis=primary][hollow] svg {
  fill: #c42331;
}
button.nsc.button[emphasis=primary][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #c42331;
}
button.nsc.button[emphasis=primary]:hover {
  background: #991b26;
  border-color: #991b26;
}
button.nsc.button[emphasis=primary]:hover[hollow] {
  background: none;
  color: #991b26;
}
button.nsc.button[emphasis=primary]:hover[hollow] svg {
  fill: #991b26;
}
button.nsc.button[emphasis=primary]:active, button.nsc.button[emphasis=primary][sel] {
  background: #581016;
  border-color: #581016;
}
button.nsc.button[emphasis=primary]:active[hollow], button.nsc.button[emphasis=primary][sel][hollow] {
  background: none;
  color: #581016;
}
button.nsc.button[emphasis=primary]:active[hollow] svg, button.nsc.button[emphasis=primary][sel][hollow] svg {
  fill: #581016;
}
button.nsc.button[emphasis=primary-text] {
  background: white;
  border-color: white;
}
button.nsc.button[emphasis=primary-text][hollow] {
  background: none;
  color: white;
}
button.nsc.button[emphasis=primary-text][hollow] svg {
  fill: white;
}
button.nsc.button[emphasis=primary-text][hollow][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[emphasis=primary-text]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.nsc.button[emphasis=primary-text]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.nsc.button[emphasis=primary-text]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.nsc.button[emphasis=primary-text]:active, button.nsc.button[emphasis=primary-text][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.nsc.button[emphasis=primary-text]:active[hollow], button.nsc.button[emphasis=primary-text][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.nsc.button[emphasis=primary-text]:active[hollow] svg, button.nsc.button[emphasis=primary-text][sel][hollow] svg {
  fill: #bfbfbf;
}
button.nsc.button[emphasis=secondary] {
  color: white;
  background: #4e23c4;
  border-color: #4e23c4;
}
button.nsc.button[emphasis=secondary] svg {
  fill: white;
}
button.nsc.button[emphasis=secondary][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[emphasis=secondary][hollow] {
  background: none;
  color: #4e23c4;
}
button.nsc.button[emphasis=secondary][hollow] svg {
  fill: #4e23c4;
}
button.nsc.button[emphasis=secondary][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #4e23c4;
}
button.nsc.button[emphasis=secondary]:hover {
  background: #3d1b99;
  border-color: #3d1b99;
}
button.nsc.button[emphasis=secondary]:hover[hollow] {
  background: none;
  color: #3d1b99;
}
button.nsc.button[emphasis=secondary]:hover[hollow] svg {
  fill: #3d1b99;
}
button.nsc.button[emphasis=secondary]:active, button.nsc.button[emphasis=secondary][sel] {
  background: #231058;
  border-color: #231058;
}
button.nsc.button[emphasis=secondary]:active[hollow], button.nsc.button[emphasis=secondary][sel][hollow] {
  background: none;
  color: #231058;
}
button.nsc.button[emphasis=secondary]:active[hollow] svg, button.nsc.button[emphasis=secondary][sel][hollow] svg {
  fill: #231058;
}
button.nsc.button[emphasis=secondary-text] {
  background: white;
  border-color: white;
}
button.nsc.button[emphasis=secondary-text][hollow] {
  background: none;
  color: white;
}
button.nsc.button[emphasis=secondary-text][hollow] svg {
  fill: white;
}
button.nsc.button[emphasis=secondary-text][hollow][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[emphasis=secondary-text]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.nsc.button[emphasis=secondary-text]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.nsc.button[emphasis=secondary-text]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.nsc.button[emphasis=secondary-text]:active, button.nsc.button[emphasis=secondary-text][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.nsc.button[emphasis=secondary-text]:active[hollow], button.nsc.button[emphasis=secondary-text][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.nsc.button[emphasis=secondary-text]:active[hollow] svg, button.nsc.button[emphasis=secondary-text][sel][hollow] svg {
  fill: #bfbfbf;
}
button.nsc.button[emphasis=default] {
  color: black;
  background: #ebebeb;
  border-color: #ebebeb;
}
button.nsc.button[emphasis=default] svg {
  fill: black;
}
button.nsc.button[emphasis=default][loading] div.nsc.loading div.nsc.dot {
  background: black;
}
button.nsc.button[emphasis=default][hollow] {
  background: none;
  color: #ebebeb;
}
button.nsc.button[emphasis=default][hollow] svg {
  fill: #ebebeb;
}
button.nsc.button[emphasis=default][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #ebebeb;
}
button.nsc.button[emphasis=default]:hover {
  background: #d2d2d2;
  border-color: #d2d2d2;
}
button.nsc.button[emphasis=default]:hover[hollow] {
  background: none;
  color: #d2d2d2;
}
button.nsc.button[emphasis=default]:hover[hollow] svg {
  fill: #d2d2d2;
}
button.nsc.button[emphasis=default]:active, button.nsc.button[emphasis=default][sel] {
  background: #ababab;
  border-color: #ababab;
}
button.nsc.button[emphasis=default]:active[hollow], button.nsc.button[emphasis=default][sel][hollow] {
  background: none;
  color: #ababab;
}
button.nsc.button[emphasis=default]:active[hollow] svg, button.nsc.button[emphasis=default][sel][hollow] svg {
  fill: #ababab;
}
button.nsc.button[emphasis=default-text] {
  background: black;
  border-color: black;
}
button.nsc.button[emphasis=default-text][hollow] {
  background: none;
  color: black;
}
button.nsc.button[emphasis=default-text][hollow] svg {
  fill: black;
}
button.nsc.button[emphasis=default-text][hollow][loading] div.nsc.loading div.nsc.dot {
  background: black;
}
button.nsc.button[emphasis=default-text]:hover {
  background: black;
  border-color: black;
}
button.nsc.button[emphasis=default-text]:hover[hollow] {
  background: none;
  color: black;
}
button.nsc.button[emphasis=default-text]:hover[hollow] svg {
  fill: black;
}
button.nsc.button[emphasis=default-text]:active, button.nsc.button[emphasis=default-text][sel] {
  background: black;
  border-color: black;
}
button.nsc.button[emphasis=default-text]:active[hollow], button.nsc.button[emphasis=default-text][sel][hollow] {
  background: none;
  color: black;
}
button.nsc.button[emphasis=default-text]:active[hollow] svg, button.nsc.button[emphasis=default-text][sel][hollow] svg {
  fill: black;
}
button.nsc.button[color=red] {
  color: white;
  background: #ed5564;
  border-color: #ed5564;
}
button.nsc.button[color=red] svg {
  fill: white;
}
button.nsc.button[color=red][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=red][hollow] {
  background: none;
  color: #ed5564;
}
button.nsc.button[color=red][hollow] svg {
  fill: #ed5564;
}
button.nsc.button[color=red][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #ed5564;
}
button.nsc.button[color=red]:hover {
  background: #e8273a;
  border-color: #e8273a;
}
button.nsc.button[color=red]:hover[hollow] {
  background: none;
  color: #e8273a;
}
button.nsc.button[color=red]:hover[hollow] svg {
  fill: #e8273a;
}
button.nsc.button[color=red]:active, button.nsc.button[color=red][sel] {
  background: #b01322;
  border-color: #b01322;
}
button.nsc.button[color=red]:active[hollow], button.nsc.button[color=red][sel][hollow] {
  background: none;
  color: #b01322;
}
button.nsc.button[color=red]:active[hollow] svg, button.nsc.button[color=red][sel][hollow] svg {
  fill: #b01322;
}
button.nsc.button[color=orange] {
  color: white;
  background: #f1b037;
  border-color: #f1b037;
}
button.nsc.button[color=orange] svg {
  fill: white;
}
button.nsc.button[color=orange][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=orange][hollow] {
  background: none;
  color: #f1b037;
}
button.nsc.button[color=orange][hollow] svg {
  fill: #f1b037;
}
button.nsc.button[color=orange][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #f1b037;
}
button.nsc.button[color=orange]:hover {
  background: #e59b10;
  border-color: #e59b10;
}
button.nsc.button[color=orange]:hover[hollow] {
  background: none;
  color: #e59b10;
}
button.nsc.button[color=orange]:hover[hollow] svg {
  fill: #e59b10;
}
button.nsc.button[color=orange]:active, button.nsc.button[color=orange][sel] {
  background: #9d6a0b;
  border-color: #9d6a0b;
}
button.nsc.button[color=orange]:active[hollow], button.nsc.button[color=orange][sel][hollow] {
  background: none;
  color: #9d6a0b;
}
button.nsc.button[color=orange]:active[hollow] svg, button.nsc.button[color=orange][sel][hollow] svg {
  fill: #9d6a0b;
}
button.nsc.button[color=yellow] {
  color: white;
  background: #ffce54;
  border-color: #ffce54;
}
button.nsc.button[color=yellow] svg {
  fill: white;
}
button.nsc.button[color=yellow][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=yellow][hollow] {
  background: none;
  color: #ffce54;
}
button.nsc.button[color=yellow][hollow] svg {
  fill: #ffce54;
}
button.nsc.button[color=yellow][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #ffce54;
}
button.nsc.button[color=yellow]:hover {
  background: #ffbf21;
  border-color: #ffbf21;
}
button.nsc.button[color=yellow]:hover[hollow] {
  background: none;
  color: #ffbf21;
}
button.nsc.button[color=yellow]:hover[hollow] svg {
  fill: #ffbf21;
}
button.nsc.button[color=yellow]:active, button.nsc.button[color=yellow][sel] {
  background: #d49700;
  border-color: #d49700;
}
button.nsc.button[color=yellow]:active[hollow], button.nsc.button[color=yellow][sel][hollow] {
  background: none;
  color: #d49700;
}
button.nsc.button[color=yellow]:active[hollow] svg, button.nsc.button[color=yellow][sel][hollow] svg {
  fill: #d49700;
}
button.nsc.button[color=green] {
  color: white;
  background: #a0d568;
  border-color: #a0d568;
}
button.nsc.button[color=green] svg {
  fill: white;
}
button.nsc.button[color=green][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=green][hollow] {
  background: none;
  color: #a0d568;
}
button.nsc.button[color=green][hollow] svg {
  fill: #a0d568;
}
button.nsc.button[color=green][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #a0d568;
}
button.nsc.button[color=green]:hover {
  background: #87ca40;
  border-color: #87ca40;
}
button.nsc.button[color=green]:hover[hollow] {
  background: none;
  color: #87ca40;
}
button.nsc.button[color=green]:hover[hollow] svg {
  fill: #87ca40;
}
button.nsc.button[color=green]:active, button.nsc.button[color=green][sel] {
  background: #609429;
  border-color: #609429;
}
button.nsc.button[color=green]:active[hollow], button.nsc.button[color=green][sel][hollow] {
  background: none;
  color: #609429;
}
button.nsc.button[color=green]:active[hollow] svg, button.nsc.button[color=green][sel][hollow] svg {
  fill: #609429;
}
button.nsc.button[color=blue] {
  color: white;
  background: #4fc1e8;
  border-color: #4fc1e8;
}
button.nsc.button[color=blue] svg {
  fill: white;
}
button.nsc.button[color=blue][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=blue][hollow] {
  background: none;
  color: #4fc1e8;
}
button.nsc.button[color=blue][hollow] svg {
  fill: #4fc1e8;
}
button.nsc.button[color=blue][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #4fc1e8;
}
button.nsc.button[color=blue]:hover {
  background: #22b1e2;
  border-color: #22b1e2;
}
button.nsc.button[color=blue]:hover[hollow] {
  background: none;
  color: #22b1e2;
}
button.nsc.button[color=blue]:hover[hollow] svg {
  fill: #22b1e2;
}
button.nsc.button[color=blue]:active, button.nsc.button[color=blue][sel] {
  background: #157ea2;
  border-color: #157ea2;
}
button.nsc.button[color=blue]:active[hollow], button.nsc.button[color=blue][sel][hollow] {
  background: none;
  color: #157ea2;
}
button.nsc.button[color=blue]:active[hollow] svg, button.nsc.button[color=blue][sel][hollow] svg {
  fill: #157ea2;
}
button.nsc.button[color=purple] {
  color: white;
  background: #ac92eb;
  border-color: #ac92eb;
}
button.nsc.button[color=purple] svg {
  fill: white;
}
button.nsc.button[color=purple][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=purple][hollow] {
  background: none;
  color: #ac92eb;
}
button.nsc.button[color=purple][hollow] svg {
  fill: #ac92eb;
}
button.nsc.button[color=purple][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #ac92eb;
}
button.nsc.button[color=purple]:hover {
  background: #8b67e3;
  border-color: #8b67e3;
}
button.nsc.button[color=purple]:hover[hollow] {
  background: none;
  color: #8b67e3;
}
button.nsc.button[color=purple]:hover[hollow] svg {
  fill: #8b67e3;
}
button.nsc.button[color=purple]:active, button.nsc.button[color=purple][sel] {
  background: #5a27d6;
  border-color: #5a27d6;
}
button.nsc.button[color=purple]:active[hollow], button.nsc.button[color=purple][sel][hollow] {
  background: none;
  color: #5a27d6;
}
button.nsc.button[color=purple]:active[hollow] svg, button.nsc.button[color=purple][sel][hollow] svg {
  fill: #5a27d6;
}
button.nsc.button[color=warning] {
  color: white;
  background: #f8de6b;
  border-color: #f8de6b;
}
button.nsc.button[color=warning] svg {
  fill: white;
}
button.nsc.button[color=warning][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=warning][hollow] {
  background: none;
  color: #f8de6b;
}
button.nsc.button[color=warning][hollow] svg {
  fill: #f8de6b;
}
button.nsc.button[color=warning][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #f8de6b;
}
button.nsc.button[color=warning]:hover {
  background: #f6d33a;
  border-color: #f6d33a;
}
button.nsc.button[color=warning]:hover[hollow] {
  background: none;
  color: #f6d33a;
}
button.nsc.button[color=warning]:hover[hollow] svg {
  fill: #f6d33a;
}
button.nsc.button[color=warning]:active, button.nsc.button[color=warning][sel] {
  background: #d9b30a;
  border-color: #d9b30a;
}
button.nsc.button[color=warning]:active[hollow], button.nsc.button[color=warning][sel][hollow] {
  background: none;
  color: #d9b30a;
}
button.nsc.button[color=warning]:active[hollow] svg, button.nsc.button[color=warning][sel][hollow] svg {
  fill: #d9b30a;
}
button.nsc.button[color=error] {
  color: white;
  background: #eb6383;
  border-color: #eb6383;
}
button.nsc.button[color=error] svg {
  fill: white;
}
button.nsc.button[color=error][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=error][hollow] {
  background: none;
  color: #eb6383;
}
button.nsc.button[color=error][hollow] svg {
  fill: #eb6383;
}
button.nsc.button[color=error][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #eb6383;
}
button.nsc.button[color=error]:hover {
  background: #e5365f;
  border-color: #e5365f;
}
button.nsc.button[color=error]:hover[hollow] {
  background: none;
  color: #e5365f;
}
button.nsc.button[color=error]:hover[hollow] svg {
  fill: #e5365f;
}
button.nsc.button[color=error]:active, button.nsc.button[color=error][sel] {
  background: #b7173d;
  border-color: #b7173d;
}
button.nsc.button[color=error]:active[hollow], button.nsc.button[color=error][sel][hollow] {
  background: none;
  color: #b7173d;
}
button.nsc.button[color=error]:active[hollow] svg, button.nsc.button[color=error][sel][hollow] svg {
  fill: #b7173d;
}
button.nsc.button[color=default] {
  color: white;
  background: #ebebeb;
  border-color: #ebebeb;
}
button.nsc.button[color=default] svg {
  fill: white;
}
button.nsc.button[color=default][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=default][hollow] {
  background: none;
  color: #ebebeb;
}
button.nsc.button[color=default][hollow] svg {
  fill: #ebebeb;
}
button.nsc.button[color=default][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #ebebeb;
}
button.nsc.button[color=default]:hover {
  background: #d2d2d2;
  border-color: #d2d2d2;
}
button.nsc.button[color=default]:hover[hollow] {
  background: none;
  color: #d2d2d2;
}
button.nsc.button[color=default]:hover[hollow] svg {
  fill: #d2d2d2;
}
button.nsc.button[color=default]:active, button.nsc.button[color=default][sel] {
  background: #ababab;
  border-color: #ababab;
}
button.nsc.button[color=default]:active[hollow], button.nsc.button[color=default][sel][hollow] {
  background: none;
  color: #ababab;
}
button.nsc.button[color=default]:active[hollow] svg, button.nsc.button[color=default][sel][hollow] svg {
  fill: #ababab;
}
button.nsc.button[color=success] {
  color: white;
  background: #90ec90;
  border-color: #90ec90;
}
button.nsc.button[color=success] svg {
  fill: white;
}
button.nsc.button[color=success][loading] div.nsc.loading div.nsc.dot {
  background: white;
}
button.nsc.button[color=success][hollow] {
  background: none;
  color: #90ec90;
}
button.nsc.button[color=success][hollow] svg {
  fill: #90ec90;
}
button.nsc.button[color=success][hollow][loading] div.nsc.loading div.nsc.dot {
  background: #90ec90;
}
button.nsc.button[color=success]:hover {
  background: #64e564;
  border-color: #64e564;
}
button.nsc.button[color=success]:hover[hollow] {
  background: none;
  color: #64e564;
}
button.nsc.button[color=success]:hover[hollow] svg {
  fill: #64e564;
}
button.nsc.button[color=success]:active, button.nsc.button[color=success][sel] {
  background: #25d825;
  border-color: #25d825;
}
button.nsc.button[color=success]:active[hollow], button.nsc.button[color=success][sel][hollow] {
  background: none;
  color: #25d825;
}
button.nsc.button[color=success]:active[hollow] svg, button.nsc.button[color=success][sel][hollow] svg {
  fill: #25d825;
}
button.nsc.button[disabled] {
  opacity: 50%;
  pointer-events: none;
}
button.nsc.button[loading] {
  position: relative;
  pointer-events: none;
  opacity: 100%;
}
button.nsc.button[loading] div.nsc.children {
  opacity: 0;
}
button.nsc.button[loading] div.nsc.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: visible;
}
button.nsc.button[loading] div.nsc.loading div.nsc.dot:nth-child(3n+1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
button.nsc.button[loading] div.nsc.loading div.nsc.dot:nth-child(3n+2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
button.nsc.button[loading] div.nsc.loading div.nsc.dot:nth-child(3n+3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
button.nsc.button[loading] div.nsc.loading div.nsc.dot {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateY(-0.25rem);
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-0.25rem);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(-0.25rem);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-0.25rem);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(-0.25rem);
  }
}

div.nsc.button-group {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
div.nsc.button-group[wrap] {
  flex-wrap: wrap;
}
div.nsc.button-group[split] {
  gap: 0.5rem;
}
div.nsc.button-group[vertical] {
  flex-direction: column;
  align-items: flex-start;
}
div.nsc.button-group button.nsc.button {
  margin: 0;
}
div.nsc.button-group:not([split]) {
  align-items: stretch;
}
div.nsc.button-group:not([split]) button.nsc.button {
  border-radius: 0;
}
div.nsc.button-group:not([split]):not([vertical]) button.nsc.button:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
div.nsc.button-group:not([split]):not([vertical]) button.nsc.button:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
div.nsc.button-group:not([split])[vertical] button.nsc.button {
  width: 100%;
}
div.nsc.button-group:not([split])[vertical] button.nsc.button:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
div.nsc.button-group:not([split])[vertical] button.nsc.button:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}/*# sourceMappingURL=styles.css.map */